body {
  margin: 0;
}

.wrapper {
  max-width: 1000px;
  margin: 50px auto;
}

video {
  width: 100%;
  max-width: 1000px;
}

cosmos-text {
  --cosmos-text-line-height: 1.8;
}

.paragraph {
  margin-top: 1rem;
}

.paragraph cosmos-text {
  cursor: pointer;
  display: inline-block;
}

.paragraph cosmos-text:hover {
  --cosmos-text-color: rgba(0, 15, 30, 0.6);
}
